<div class="footer-container container">
  <div class="row d-flex justify-content-between">
    <div class="copy-left pt-2"><p>Copyright Creative Workers</p></div>
    <ul class="footer-menu pt-2">
      <li><a href="https://google.com" target="_blank">Privacy</a></li>
      <li><a href="https://google.com" target="_blank">Terms</a></li>
      <li><a href="https://google.com" target="_blank">Cookies</a></li>
      <li><a href="https://google.com" target="_blank">More</a></li>
    </ul>
    <div class="copy-right pt-2"><p>kissmybutton &copy; 2018</p></div>
  </div>
</div>