.search-header {
    border-bottom: 1px solid rgb(156, 156, 156); 
}
.pagination-container {
    .custom-pagination-message {
        margin-right: 10px;
    }
    .custom-number-counting {
        margin: 0 10px;
    }
}