<div class="main-container container-fluid">
  <div class="search-header container">
    <div class="row py-3">
      <div class="col-md-6 offset-md-6">
        <form>
          <div class="row">
            <div class="col">
              <input class="form-control mr-sm-2" (keyup)="searchSources($event)" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
              <select (change)="selectCategorySource($event)" name="category" [(ngModel)]="selectedCategory" class="custom-select">
                <option selected value="all">Categories</option>
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <app-news [news]="news"></app-news>

  <div class="container py-4 pagination-container">
    <div class="row d-flex justify-content-left align-items-baseline">
      <span class="custom-pagination-message">displaying page</span>
        <nav class="">
            <ul class="pagination d-flex justify-content-left align-items-baseline">
              <li class="page-item">
                <div class="input-group">
                  <div class="input-group-prepend" *ngIf="page > 0" >
                    <a class="page-link" aria-label="Previous" (click)="previousPage(page-1)">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </div>
                  <input type="number" class="form-control" placeholder="{{page + 1}}">
                </div>
              </li>
              <span class="custom-number-counting">of {{totalPages}}</span>
              <li class="page-item" *ngIf="page < totalPages -1" >
                <a class="page-link" aria-label="Next" (click)="nextPage(page+1)" >
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
  </div>
</div>