.news-container {
    .card {
        width: 20rem;
        .card-body {
            display: flex;
            flex-direction: column;
            .card-text {
                flex: 1;
            }
        }
    }
}